.cardText {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-align: justify;
    margin: 5px;
}

.cardDiv {
    min-height: 100%;
    margin-bottom: 20px;
}